main {
    position: absolute;
}

.play {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%);
}

.microphone {
    position: absolute;
    border: 1px solid black;
    background-color: skyblue;
    width: 120px;
    height: 120px;
    margin-bottom: 0;
    border-radius: 120px;
    margin-bottom: 60px;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
    transition: visibility 2s;
}

.hide {
    position: absolute;
    visibility: hidden;
}
