* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    font-family: "Nunito Sans", sans-serif;
}

#canvas {
    position: absolute;
    /*  border: 1px solid magenta;
    background-color: magenta; */
    z-index: -1;
    left: 50%;
    top: 8%;
    transform: translate(-50%);
}

#initial-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#initial-display .instructions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    top: 8%;
    left: 5%;
    padding: 3%;
    background: rgba(255, 255, 255, 0.71);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.31);
    width: 27%;
    position: absolute;
}

h1 {
    font-size: 40px;
    margin: 0;
}

.instructions li {
    margin-bottom: 4%;
    text-align: justify;
    width: 88%;
}

.instructions ul {
    padding-left: 10%;
    margin: 0;
}

#initial-display .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
#initial-display .main-commands {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

.microphone {
    border: none;
    background-image: url("./public/micro.png");
    background-size: contain;
    width: 200px;
    height: 200px;
    margin-bottom: 0;
    border-radius: 120px;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.fadeout {
    animation: fadeout 0.5s linear 1 forwards;
}

.fadein {
    animation: fadein 0.5s linear 1 forwards;
}

#initial-display .registration-commands {
    display: flex;
    justify-content: center;
    width: 100%;
}

.registration-commands .items {
    display: flex;
}

.photo {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./public/camera.png");
    background-size: cover;
    border: none;
}

#on-play {
    position: absolute;
    right: 50%;
    transform: translate(50%);
    top: 3%;
    display: flex;
    flex-wrap: wrap;
    width: 24%;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.71);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.31);
}

#on-play .playing-commands {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.listening-animation {
    margin-right: 8%;
    color: #b0ea37;
}

#pause button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-image: url("./public/pause.png");
    background-size: cover;
    border: none;
}

#stop button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-image: url("./public/stop.png");
    background-size: cover;
    border: none;
}

#keep-recording button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-image: url("./public/keeprec.png");
    background-size: cover;
    border: none;
}

#settings {
    position: absolute;
    display: flex;
    align-items: center;
    width: 600px;
    height: 100%;
    background-image: url("./public/modal.png");
    background-position: 50%;
    transition: right, 1s;
}

.open {
    right: 0px;
}

.close {
    right: -520px;
}

#clear {
    position: absolute;
    top: 10%;
    right: 14%;
}

.clear {
    background-color: white;
    border: 1px solid grey;
    font-family: "Nunito Sans", sans-serif;
}

#settings .open-close {
    display: flex;
}

#settings img {
    width: 40px;
    margin-left: 80%;
}

#settings #main-settings {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

#main-settings #toggles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 8%;
    margin-bottom: 8%;
}

#toggles p {
    font-size: 20px;
}

.modes {
    font-size: 14px;
    width: 60%;
}

#main-settings #palettes {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    border-top: 1px solid grey;
    margin-bottom: 8%;
}

.palettes {
    font-size: 14px;
    width: 60%;
}
#palettes p {
    font-size: 20px;
}

#main-settings #notes {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10%;
    width: 90%;
}

.tones {
    display: flex;
    position: absolute;
    top: 60%;
    width: 60%;
    justify-content: space-between;
}

.halftones {
    display: flex;
    position: absolute;
    top: 75%;
    width: 44%;
    justify-content: space-between;
}

.media_notes_one {
    display: none;
}
.media_notes_two {
    display: none;
}
.media_notes_three {
    display: none;
}

.a {
    width: 50px;
    height: 50px;
    margin: 1%;
}

.aSharp {
    width: 50px;
    height: 50px;
    margin: 10% 1% 1% 1%;
}

.b {
    width: 50px;
    height: 50px;
    margin: 1%;
}

.c {
    width: 50px;
    height: 50px;
    margin: 1%;
}

.cSharp {
    width: 50px;
    height: 50px;
    margin: 10% 1% 1% 1%;
}

.d {
    width: 50px;
    height: 50px;
    margin: 1%;
}

.dSharp {
    width: 50px;
    height: 50px;
    margin: 10% 1% 1% 1%;
}

.e {
    width: 50px;
    height: 50px;
    margin: 1%;
}

.f {
    width: 50px;
    height: 50px;
    margin: 1%;
}

.fSharp {
    width: 50px;
    height: 50px;
    margin: 10% 1% 1% 1%;
}

.g {
    width: 50px;
    height: 50px;
    margin: 1%;
}

.gSharp {
    width: 50px;
    height: 50px;
    margin: 10% 1% 1% 1%;
}

footer {
    display: flex;
    align-items: center;
    height: 40px;
}

footer p {
    margin-left: 10px;
}
